{% extends "base.html" %}
{% load static %}

{% block title %}
    detail page
{% endblock %}



{% block content %}

    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <img class="card-img-top mb-5 mb-md-0" id="mainImage" src={{ item.main_image.url }} alt="..." />
                    <div class="row mt-3 justify-content-center">
                        {% comment %} <div class="cursor-pointer rounded border-complete-200 p-1 ml-2" data-cro-id="pdp-album-open"> {% endcomment %}
                        <div class="col-md-2" data-cro-id="pdp-album-open">
                            <img class="w-full rounded-5" 
                                 src={% static "img/iced_latte.jpg" %}
                                 width="100" height="72" 
                                 onclick="changeImage(this.src)" 
                                 style="object-fit: contain;" />
                        </div>
                        {% comment %} <div class="cursor-pointer rounded border-complete-200 p-1 ml-2" data-cro-id="pdp-album-open"> {% endcomment %}
                        <div class="col-md-2" data-cro-id="pdp-album-open">
                            <img class="w-full rounded-5" 
                                 src={% static "img/mocha.jpg" %}
                                 width="100" height="72" 
                                 onclick="changeImage(this.src)" 
                                 style="object-fit: contain;" />
                        </div>
                        <div class="col-md-2" data-cro-id="pdp-album-open">
                            <img class="w-full rounded-5" 
                                 src={% static "img/iced_espresso.jpg" %}
                                 width="100" height="72" 
                                 onclick="changeImage(this.src)" 
                                 style="object-fit: contain;" />
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="small mb-1">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder">آیس لاته</h1>
                    <div class="fs-5 mb-5">
                        <span class="text-decoration-line-through">$112.00</span>
                        <span>$40.00</span>
                    </div>
                    <p class="lead">آیس لاته یک نوشیدنی سرد با اسپرسو، شیر و شیرین کننده‌ی مصنوعی است</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            اضافه کردن به سبد خرید
                        </button>
                    </div>
                </div>
            </div>      
        </div>
            
        <!-- Thumbnail images -->
        {% comment %} <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0" id="mainImage" src="{% static "img/iced_latte.jpg" %}" alt="Iced Latte Main Image" /> {% endcomment %}
            <!-- Thumbnail images -->
            {% comment %} <div class="row gx-0">
                <div class="col-2 px-1">
                    <img class="img-fluid w-20 h-20" src={% static 'img/iced_latte.jpg' %} alt="Iced Latte" onclick=changeImage(this.src) />
                </div>
                <div class="col-2 px-1">
                    <img class="img-fluid w-20 h-20" src={% static 'img/iced_espresso.jpg' %} alt="Iced Espresso" onclick=changeImage(this.src) />
                </div>
                <div class="col-2 px-1">
                    <img class="img-fluid w-20 h-20" src={% static 'img/mocha.jpg' %} alt="Mocha" onclick=changeImage(this.src) />
                </div>
                <div class="col-2 px-1">
                    <img class="img-fluid w-20 h-20" src={% static 'img/iced_americano.jpg' %} alt="Iced Americano" onclick=changeImage(this.src) />
                </div>
            </div> {% endcomment %}
        {% comment %} </div> {% endcomment %}
        
    </section>

    <!-- Related items section-->
    <section class="py-5 bg-light">
        <div class="container px-4 px-lg-5 mt-5">
            <h2 class="fw-bolder mb-4">محصولات مشابه</h2>
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src={% static "img/iced_espresso.jpg" %} alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">آیس اسپرسو</h5>
                                <!-- Product price-->
                                $40.00 - $80.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">اضافه کردن به سبد خرید</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">حراج</div>
                        <!-- Product image-->
                        <img class="card-img-top" src={% static "img/mocha.jpg" %} alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">موکا</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$20.00</span>
                                $18.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">اضافه کردن به سبد خرید</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Sale badge-->
                        <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">حراج</div>
                        <!-- Product image-->
                        <img class="card-img-top" src={% static "img/mocha_frappe.jpg" %} alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">موکا فراپه</h5>
                                <!-- Product price-->
                                <span class="text-muted text-decoration-line-through">$50.00</span>
                                $25.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">اضافه کردن به سبد خرید</a></div>
                        </div>
                    </div>
                </div>
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src={% static "img/iced_americano.jpg" %} alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">آیس آمریکانو</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                $40.00
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">اضافه کردن به سبد خرید</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}